In [29]:
import json
import pandas as pd
import numpy as np
import tmdbsimple as tmdb

from requests import get

from get_path import path

In [3]:
with open(path) as f:
    data = json.load(f)

In [5]:
tmdb.API_KEY = data['key']

In [30]:
api_key = data['key']

In [6]:
bechdel_df = pd.read_csv('my_data/updated_bechdel_2.csv')
bechdel_df.head()

,year,title,score,passing,imdb_id,director_fnbt,writer_fnbt,exec_fnbt,producer_fnbt,overall_fnbt,updated_budgets,updated_revenue
0,2019.0,Alita: Battle Angel,3.0,1.0,tt0437086,0.0,1.0,0.0,0.0,1.0,170000000.0,359700000.0
1,2019.0,American Woman,3.0,1.0,tt9109492,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2019.0,Close,3.0,1.0,tt5316540,1.0,1.0,0.0,0.0,2.0,0.0,0.0
3,2019.0,Cold Pursuit,1.0,0.0,tt5719748,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.0,How to Train Your Dragon: The Hidden World,2.0,0.0,tt2386490,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [8]:
search = tmdb.Search()
response = search.movie(query='How to Train Your Dragon: The Hidden World')
for s in search.results:
    print(s)

{'vote_count': 993, 'id': 166428, 'video': False, 'vote_average': 7.8, 'title': 'How to Train Your Dragon: The Hidden World', 'popularity': 310.039, 'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg', 'original_language': 'en', 'original_title': 'How to Train Your Dragon: The Hidden World', 'genre_ids': [16, 10751, 12], 'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg', 'adult': False, 'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.', 'release_date': '2019-01-03'}

In [9]:
response = tmdb.Movies(166428).info()

In [ ]:
response = tmdb.Movies()

In [ ]:
response = tmdb.Movies.Find()

In [ ]:
'/{id}/external_ids'

In [10]:
response

{'adult': False,
 'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
 'belongs_to_collection': {'id': 89137,
  'name': 'How to Train Your Dragon Collection',
  'poster_path': '/4tBKIkPLFMkiZETjAMOHNoty8B1.jpg',
  'backdrop_path': '/mvcfPkOvgDJG2lEAxTz0NKqoQLo.jpg'},
 'budget': 129000000,
 'genres': [{'id': 16, 'name': 'Animation'},
  {'id': 10751, 'name': 'Family'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.howtotrainyourdragon.com/',
 'id': 166428,
 'imdb_id': 'tt2386490',
 'original_language': 'en',
 'original_title': 'How to Train Your Dragon: The Hidden World',
 'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
 'popularity': 310.039,
 'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
 'production_companies': [{'id': 20154,
   'logo_path': None,
   'name': 'Mad Hatter Entertainment',
   'origin_country': 'US'},
  {'id': 521,
   'logo_path': '/kP7t6RwGz2AvvTkvnI1uteEwHet.png',
   'name': 'DreamWorks Animation',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2019-01-03',
 'revenue': 375396270,
 'runtime': 104,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': 'The friendship of a lifetime',
 'title': 'How to Train Your Dragon: The Hidden World',
 'video': False,
 'vote_average': 7.8,
 'vote_count': 998}

In [49]:
# find method with imdb_id
find = tmdb.Find('tt2386490')
response = find.info(external_source='imdb_id',append_to_response='budget,revenue')
response

{'movie_results': [{'id': 166428,
   'video': False,
   'vote_count': 993,
   'vote_average': 7.8,
   'title': 'How to Train Your Dragon: The Hidden World',
   'release_date': '2019-01-03',
   'original_language': 'en',
   'original_title': 'How to Train Your Dragon: The Hidden World',
   'genre_ids': [12, 16, 10751],
   'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
   'adult': False,
   'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
   'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
   'popularity': 310.039}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': [],
 'budget': {'movie_results': [],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []},
 'revenue': {'movie_results': [],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []}}

In [54]:
response['budget']['movie_results']

[]

In [28]:
response['movie_results']

[{'id': 166428,
  'video': False,
  'vote_count': 993,
  'vote_average': 7.8,
  'title': 'How to Train Your Dragon: The Hidden World',
  'release_date': '2019-01-03',
  'original_language': 'en',
  'original_title': 'How to Train Your Dragon: The Hidden World',
  'genre_ids': [12, 16, 10751],
  'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
  'adult': False,
  'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
  'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
  'popularity': 310.039}]

In [ ]:
reponse = get('http://api.themoviedb.org/3/movie/500?api_key=XXXXXXXX&append_to_response=credits,releases,images'
/find/{external_id}

In [31]:
response = get('https://api.themoviedb.org/3/find/' + '{tt2386490}?api_key=' +  api_key + '&append_to_response=credits,releases,images')

In [38]:
response = get('https://api.themoviedb.org/3/find/' + 'tt0137523' + '?api_key=' + api_key + '&external_source=imdb_id')

In [39]:
response

In [41]:
# try append to imdb response
response = get('https://api.themoviedb.org/3/find/' + 'tt0137523' + '?api_key=' + api_key + '&external_source=imdb_id&append_to_response=budget,revenue')

In [42]:
response

In [47]:
response.text

'{"movie_results":[{"adult":false,"backdrop_path":"/52AfXWuXCHn3UjD17rBruA9f5qb.jpg","genre_ids":[18],"id":550,"original_language":"en","original_title":"Fight Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \\"fight clubs\\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.","poster_path":"/adw6Lq9FiC9zjYEpOqfq03ituwp.jpg","release_date":"1999-10-15","title":"Fight Club","video":false,"vote_average":8.4,"vote_count":15571,"popularity":34.427}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[],"budget":{"movie_results":[],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]},"revenue":{"movie_results":[],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}}'

In [35]:
response = get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&primary_release_year=2017&sort_by=revenue.desc')

In [56]:
test_find_response = get('https://api.themoviedb.org/3/find/' + 'tt2255372' + '?api_key=' + api_key + '&external_source=imdb_id')

In [60]:
test_find_response.

b'{"movie_results":[],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'

In [36]:
test_response = get('https://api.themoviedb.org/3/movie/' + str() + '?api_key=' + api_key)

In [55]:
bechdel_df[1700:1725]

,year,title,score,passing,imdb_id,director_fnbt,writer_fnbt,exec_fnbt,producer_fnbt,overall_fnbt,updated_budgets,updated_revenue
1700,2013.0,R.I.P.D.,1.0,0.0,tt0790736,0.0,0.0,0.0,0.0,0.0,130000000.0,61648500.0
1701,2013.0,The Railway Man,0.0,0.0,tt2058107,0.0,0.0,0.0,0.0,0.0,26000000.0,22320893.0
1702,2013.0,rastres de sándal,3.0,1.0,tt3521332,1.0,1.0,0.0,0.0,2.0,0.0,0.0
1703,2013.0,Red 2,3.0,1.0,tt1821694,0.0,0.0,0.0,0.0,0.0,84000000.0,0.0
1704,2013.0,Remember Sunday,3.0,1.0,tt2770480,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1705,2013.0,The Returned,3.0,1.0,tt2093270,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1706,2013.0,Rewind,1.0,0.0,tt2193185,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1707,2013.0,Riddick,0.0,0.0,tt1411250,0.0,0.0,0.0,0.0,0.0,38000000.0,98337295.0
1708,2013.0,Riley Rewind,3.0,1.0,tt2944454,NaN,NaN,NaN,NaN,NaN,70.0,0.0
1709,2013.0,Ronny,0.0,0.0,tt2831440,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1710,2013.0,Runner Runner,0.0,0.0,tt2364841,0.0,0.0,0.0,1.0,1.0,30000000.0,62675095.0
1711,2013.0,Rush,1.0,0.0,tt1979320,0.0,0.0,0.0,0.0,0.0,38000000.0,90247624.0
1712,2013.0,RWBY,3.0,1.0,tt3066242,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1713,2013.0,Sadako 3D 2,3.0,1.0,tt2440362,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1714,2013.0,Safe Haven,3.0,1.0,tt1702439,0.0,1.0,0.0,0.0,1.0,28000000.0,97594140.0
1715,2013.0,Saige Paints the Sky,3.0,1.0,tt2818348,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1716,2013.0,Saving Mr. Banks,3.0,1.0,tt2140373,0.0,1.0,1.0,1.0,3.0,35000000.0,117867984.0
1717,2013.0,The Secret Life of Walter Mitty,3.0,1.0,tt0359950,0.0,0.0,0.0,0.0,0.0,90000000.0,188133322.0
1718,2013.0,The Selfish Giant,1.0,0.0,tt2304426,1.0,1.0,0.0,0.0,2.0,0.0,0.0
1719,2013.0,Sharknado,3.0,1.0,tt2724064,0.0,0.0,0.0,0.0,0.0,1000000.0,0.0
1720,2013.0,She Made Them Do It,1.0,0.0,tt2336846,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1721,2013.0,Short Term 12,3.0,1.0,tt2370248,0.0,0.0,0.0,0.0,0.0,0.0,1600000.0
1722,2013.0,Side Effects,3.0,1.0,tt2053463,0.0,0.0,0.0,0.0,0.0,2000000.0,63372757.0
1723,2013.0,The Sisters Plotz,3.0,1.0,tt2255372,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1724,2013.0,Skinwalker Ranch,0.0,0.0,tt2881698,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# function not using wrapper
def get_budget_and_revenue(imdb_id, api_key=api_key):
    budget_list = []
    revenue_list = []
    response = get('https://api.themoviedb.org/3/find/' + imdb_id + '?api_key=' + api_key + '&external_source=imdb_id')
    tmdb_id = response['id']
    new_response = get('https://api.themoviedb.org/3/movie/' + str(tmdb_id) + '?api_key=' + api_key)
    budget_list.append()

In [ ]:
# omg just do function using wrapper
def get_budget_and_revenue(list_of_imdb_ids):
    budget_dict = {}
    revenue_dict = {}
    for imdb_id in list_of_imdb_ids:
        find = tmdb.Find(imdb_id)
        find_response = find.info(external_source='imdb_id')
        if find_response['movie_results']:
            tmdb_id = find_response['movie_results'][0]['id']
            movie_response = tmdb.Movies(tmdb_id).info()
            budget_dict[imdb_id] = movie_response['budget']
            revenue_dict[imdb_id] = movie_response['revenue']
        else:
            print(f'No movie info for {imdb_id}')

In [64]:
test_find = tmdb.Find('tt2255372')
test_response = test_find.info(external_source='imdb_id')
test_response

{'movie_results': [],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [65]:
test_find = tmdb.Find('tt0359950')
test_response = test_find.info(external_source='imdb_id')
test_response

{'movie_results': [{'id': 116745,
   'video': False,
   'vote_count': 4696,
   'vote_average': 7.1,
   'title': 'The Secret Life of Walter Mitty',
   'release_date': '2013-12-18',
   'original_language': 'en',
   'original_title': 'The Secret Life of Walter Mitty',
   'genre_ids': [12, 35, 18, 14],
   'backdrop_path': '/mrvlpJFAzKwZZkLm9VD7Rh2VECi.jpg',
   'adult': False,
   'overview': 'A timid magazine photo manager who lives life vicariously through daydreams embarks on a true-life adventure when a negative goes missing.',
   'poster_path': '/b0nIj7dr2bcLAn3erYhql7f6aUm.jpg',
   'popularity': 11.611}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [70]:
tmdb_id = test_response['movie_results'][0]['id']

In [71]:
response = tmdb.Movies(tmdb_id).info()
response

{'adult': False,
 'backdrop_path': '/mrvlpJFAzKwZZkLm9VD7Rh2VECi.jpg',
 'belongs_to_collection': None,
 'budget': 90000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 18, 'name': 'Drama'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': None,
 'id': 116745,
 'imdb_id': 'tt0359950',
 'original_language': 'en',
 'original_title': 'The Secret Life of Walter Mitty',
 'overview': 'A timid magazine photo manager who lives life vicariously through daydreams embarks on a true-life adventure when a negative goes missing.',
 'popularity': 11.611,
 'poster_path': '/b0nIj7dr2bcLAn3erYhql7f6aUm.jpg',
 'production_companies': [{'id': 290,
   'logo_path': '/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png',
   'name': 'Ingenious Media',
   'origin_country': 'GB'},
  {'id': 22213,
   'logo_path': '/qx9K6bFWJupwde0xQDwOvXkOaL8.png',
   'name': 'TSG Entertainment',
   'origin_country': 'US'},
  {'id': 9118,
   'logo_path': '/9o6KLcDBRw3fNItUflJVwj8dZpC.png',
   'name': 'Samuel Goldwyn Films',
   'origin_country': 'US'},
  {'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 10893,
   'logo_path': None,
   'name': 'Big Screen Productions',
   'origin_country': ''},
  {'id': 37336,
   'logo_path': None,
   'name': 'Down Productions',
   'origin_country': ''},
  {'id': 25,
   'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
   'name': '20th Century Fox',
   'origin_country': 'US'},
  {'id': 2932,
   'logo_path': '/4uLKLjGivVg2YnAIhAn8k7ZuVFj.png',
   'name': 'Red Hour',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2013-12-18',
 'revenue': 188133322,
 'runtime': 114,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': 'Stop Dreaming, Start Living',
 'title': 'The Secret Life of Walter Mitty',
 'video': False,
 'vote_average': 7.1,
 'vote_count': 4696}

In [72]:
response['budget']

90000000

In [73]:
response['revenue']

188133322