## Baby Names! 
* Import Social Security card applications with the goal of hopefully determining and assigning gender to most actors, crew members, and producers
* Will use baby names from 1920 to present, in 30-year increments
* May need to add a third column for names that appear in lists for both genders
* I think these are all babies? Maybe they include adults applying for Social Security cards as well. 
* Curate final dataset with unique values only and create new .csv file to use in project and share with the world!

In [1]:
import csv
import pandas as pd
import numpy as np

In [ ]:
# .txt files I'd like to use
# 1920, 1950, 1980, 2010, 2017 (latest update)

In [2]:
# f = open('yob1920.txt', 'r')
# reader = csv.reader(f)

In [3]:
# names_1920 = pd.read_csv('yob1920.txt', header=None)
# names_1920.head()

          0  1      2
0      Mary  F  70980
1   Dorothy  F  36643
2     Helen  F  35097
3  Margaret  F  27997
4      Ruth  F  26101

In [4]:
# names_1920.shape

(10755, 3)

In [5]:
# names_1920.columns = ['name', 'gender', 'xyz']

In [6]:
# names_1920.tail()

           name gender  xyz
10750     Zearl      M    5
10751  Zeferino      M    5
10752      Zeke      M    5
10753      Zera      M    5
10754   Zygmont      M    5

In [7]:
# names_1920.drop('xyz', axis=1, inplace=True)

In [9]:
# names_1920.replace({'F': 1, 'M': 0}, inplace=True)
# names_1920.head()

       name  gender
0      Mary       1
1   Dorothy       1
2     Helen       1
3  Margaret       1
4      Ruth       1

#### Clean baby name df function
* Assign column names
* Drop the number of babies contained in column `xyz` 
* Change genders to binary
    * `F` $\rightarrow$ `1`
    * `M` $\rightarrow$ `0`

In [2]:
def clean_baby_df(df):
    df.columns = ['name', 'gender', 'xyz']
    df.drop('xyz', axis=1, inplace=True)
    df.gender.replace({'F': 1, 'M': 0}, inplace=True)
    # return df

In [16]:
# def txt_to_csv_to_clean_df(txt_file, df_name):
#     f = open(txt_file, 'r')
#     reader = csv.reader(f)
#     df_name = pd.read_csv(txt_file, header=None)
#     df_name.columns = ['name', 'gender', 'xyz']
#     df_name.drop('xyz', axis=1)
#     df_name.gender.replace({'F': 1, 'M': 0})

# this isn't working

In [3]:
f = open('yob1920.txt', 'r')
reader = csv.reader(f)
names_1920 = pd.read_csv('yob1920.txt')
clean_baby_df(names_1920)
names_1920.head()

       name  gender
0   Dorothy       1
1     Helen       1
2  Margaret       1
3      Ruth       1
4   Mildred       1

In [4]:
f = open('yob1950.txt', 'r')
reader = csv.reader(f)
names_1950 = pd.read_csv('yob1950.txt')
clean_baby_df(names_1950)
names_1950.head()

       name  gender
0      Mary       1
1  Patricia       1
2   Barbara       1
3     Susan       1
4     Nancy       1

In [5]:
f = open('yob1980.txt', 'r')
reader = csv.reader(f)
names_1980 = pd.read_csv('yob1980.txt')
clean_baby_df(names_1980)
# names_1950.head() - oops

       name  gender
0      Mary       1
1  Patricia       1
2   Barbara       1
3     Susan       1
4     Nancy       1

In [6]:
names_1980.head()

      name  gender
0   Amanda       1
1  Jessica       1
2  Melissa       1
3    Sarah       1
4  Heather       1

In [7]:
f = open('yob2010.txt', 'r')
reader = csv.reader(f)
names_2010 = pd.read_csv('yob2010.txt')
clean_baby_df(names_2010)
names_2010.head()

     name  gender
0  Sophia       1
1    Emma       1
2  Olivia       1
3     Ava       1
4   Emily       1

In [8]:
f = open('yob2017.txt', 'r')
reader = csv.reader(f)
names_2017 = pd.read_csv('yob2017.txt')
clean_baby_df(names_2017)
names_2017.head()

       name  gender
0    Olivia       1
1       Ava       1
2  Isabella       1
3    Sophia       1
4       Mia       1

In [18]:
# new dfs: names_1920, names_1950, names_1980, names_2010, names_2017

In [17]:
girl_names = []
for x in names_1920.values:
    print(x)
    print(x[0])
    print(x[1])
    girl_names.append(x[0])
    break
girl_names

['Dorothy' 1]
Dorothy
1

['Dorothy']

In [19]:
girl_names = []
boy_names = []

for x in names_1920.values:
    if x[1] == 1:
        girl_names.append(x[0])
    if x[1] == 0:
        boy_names.append(x[0]

In [20]:
print(f'First 10 girl names: {girl_names[:10]}')
print(f'Total girl names: {len(girl_names)}')
print(f'First 10 boy names: {boy_names[:10]}')
print(f'Total boy names: {len(boy_names)}')

First 10 girl names: ['Dorothy', 'Helen', 'Margaret', 'Ruth', 'Mildred', 'Virginia', 'Elizabeth', 'Frances', 'Anna', 'Betty']
Total girl names: 5764
First 10 boy names: ['John', 'William', 'Robert', 'James', 'Charles', 'George', 'Joseph', 'Edward', 'Frank', 'Richard']
Total boy names: 4990

In [21]:
print(len(girl_names) + len(boy_names))
print(names_1920.shape)

10754
(10754, 2)

In [22]:
any(i in girl_names for i in boy_names)

True

In [26]:
neutral_names = []
# for g in girl_names:
#     for b in boy_names:
#         if g == b:
#             neutral_names.append(g)
# lol I can see why this didn't work

In [27]:
neutral_names = []
for g in girl_names:
    if g in boy_names:
        print(g)
        break

Dorothy

In [34]:
neutral = set(girl_names).intersection(set(boy_names))

In [36]:
len(neutral)

1121

In [37]:
neutral

{'Gay',
 'Patrick',
 'Murel',
 'Verlie',
 'Buford',
 'Carmine',
 'Alberta',
 'Early',
 'Elgie',
 'Ozell',
 'Lake',
 'Juel',
 'Marguerite',
 'Rosie',
 'Josephine',
 'Johnny',
 'Willis',
 'Floyd',
 'Thelma',
 'Bessie',
 'Willard',
 'Lavere',
 'Jack',
 'Eli',
 'Gary',
 'Lavon',
 'Christian',
 'Penny',
 'Loye',
 'Iva',
 'Carnell',
 'Estelle',
 'Juanita',
 'Dolores',
 'Delma',
 'Courtney',
 'Wilfred',
 'Roxie',
 'Hiawatha',
 'Antonio',
 'Shelby',
 'Ascencion',
 'Pearly',
 'Alison',
 'Gayle',
 'Glennis',
 'Dannie',
 'Vonnie',
 'Iris',
 'Virgel',
 'Lile',
 'Aquilla',
 'Cleo',
 'Jennie',
 'Melvin',
 'Hattie',
 'Clemmie',
 'Truby',
 'Freddie',
 'Luvern',
 'Irving',
 'Geral',
 'Clovis',
 'Elaine',
 'Raymond',
 'Davie',
 'Samuel',
 'Ludie',
 'Wm',
 'Lorene',
 'Wilbur',
 'Juan',
 'Elizabeth',
 'Callie',
 'Burnett',
 'Eudell',
 'Onnie',
 'Cleatus',
 'Ellie',
 'Beverly',
 'Merrell',
 'Meredith',
 'Barbara',
 'Myrtle',
 'Edward',
 'Camille',
 'Jerry',
 'Francis',
 'Bobby',
 'Rachel',
 'Eldred',
 'Ernest',
 'Artis',
 'Sidney',
 'Lovie',
 'Eula',
 'Elmar',
 'Burnis',
 'Aubrey',
 'Arie',
 'Jimmie',
 'Winifred',
 'Anthony',
 'Leola',
 'Audy',
 'Rupert',
 'Clay',
 'Marcel',
 'Cecil',
 'Joy',
 'Perry',
 'Sherley',
 'Myron',
 'Earnie',
 'Cleotha',
 'Auburn',
 'Gordon',
 'Merrill',
 'Dennie',
 'Julius',
 'Leigh',
 'Fern',
 'Climmie',
 'Theresa',
 'Virgil',
 'Orbie',
 'Sallie',
 'Beulah',
 'Rennie',
 'Lyndall',
 'Robert',
 'Bonnie',
 'Elda',
 'Arguster',
 'Rae',
 'Aubie',
 'Earle',
 'Lamoyne',
 'Gerry',
 'Junior',
 'Louie',
 'Beryl',
 'Delta',
 'Lawrence',
 'Paris',
 'Reo',
 'Narvie',
 'Peter',
 'Lynn',
 'Bradley',
 'Cornell',
 'Kenneth',
 'Lyndell',
 'Opal',
 'Elva',
 'Michele',
 'Vergie',
 'Alvia',
 'Elwyn',
 'Audie',
 'Carlos',
 'Ardell',
 'Abbie',
 'Elon',
 'Robie',
 'Acie',
 'Ara',
 'Tiny',
 'Isabel',
 'Emile',
 'Otis',
 'Luby',
 'Helen',
 'Vertie',
 'Jo',
 'Leotha',
 'Deane',
 'Texas',
 'Paul',
 'Welcome',
 'Augustine',
 'Nova',
 'Avis',
 'Johny',
 'Nealie',
 'Estell',
 'Diamond',
 'Lizzie',
 'Billy',
 'Holly',
 'Duane',
 'Julia',
 'Martha',
 'Burnice',
 'Adell',
 'Georgia',
 'Farrell',
 'Wayne',
 'Arvie',
 'Will',
 'Macon',
 'Tracy',
 'Rhea',
 'Gerald',
 'Olive',
 'Orris',
 'Lula',
 'Bertha',
 'Glynn',
 'Marne',
 'Calvin',
 'Elton',
 'Carmel',
 'Arvis',
 'Christine',
 'Audra',
 'Prince',
 'Nancy',
 'Verle',
 'Jerome',
 'Laura',
 'Daniel',
 'Edna',
 'Murray',
 'Herbert',
 'Hazel',
 'Clinton',
 'Alexander',
 'Claris',
 'Lyle',
 'Orian',
 'Ellis',
 'Guy',
 'Jessie',
 'Earnest',
 'Lavell',
 'Jackie',
 'Unknown',
 'Winnie',
 'Lugene',
 'Fred',
 'Lois',
 'Nicola',
 'Byrl',
 'Murrel',
 'Bell',
 'Ladell',
 'Ether',
 'Geraldine',
 'Carlee',
 'Mell',
 'Bertie',
 'Carmie',
 'Cary',
 'Ottie',
 'Adrian',
 'Cortez',
 'Beatrice',
 'Ellen',
 'Birdie',
 'Fay',
 'Dewey',
 'Celester',
 'Algie',
 'Harold',
 'Edgar',
 'Ferrell',
 'Leverne',
 'Thelmer',
 'Bradie',
 'Kaoru',
 'Rosa',
 'Frances',
 'Claire',
 'Clarice',
 'Ann',
 'Mallie',
 'Henri',
 'Frankie',
 'Ivor',
 'John',
 'Era',
 'Eddie',
 'Felice',
 'Clifton',
 'Alois',
 'Eura',
 'Shirly',
 'Maryland',
 'Ed',
 'Murl',
 'Jim',
 'Emil',
 'Cola',
 'Jane',
 'Ila',
 'George',
 'Lena',
 'Denzil',
 'Lindell',
 'Carrie',
 'Pearl',
 'Edith',
 'Loren',
 'Dean',
 'Tony',
 'Clois',
 'Carlton',
 'Elliott',
 'Alton',
 'Romaine',
 'Wilmer',
 'Merlin',
 'Lessie',
 'Donnie',
 'Douglas',
 'Patricia',
 'Beryle',
 'Brooks',
 'Linnie',
 'Ercell',
 'Lamoine',
 'Verlin',
 'Woodrow',
 'Jesus',
 'Reva',
 'Hildred',
 'France',
 'Berdell',
 'Clinnie',
 'Lowell',
 'Cornelius',
 'Othel',
 'Corliss',
 'Farris',
 'Stanley',
 'Faris',
 'Margaret',
 'Bennie',
 'Oakley',
 'Ersie',
 'Vertis',
 'Merlyn',
 'Arlis',
 'Atlas',
 'Mercedes',
 'Arthur',
 'Ben',
 'Plumer',
 'Hester',
 'Constance',
 'Verlyn',
 'Aldine',
 'Dorris',
 'Estle',
 'Alberto',
 'Ossie',
 'Joseph',
 'Carman',
 'Clark',
 'Nick',
 'Roby',
 'Ezell',
 'Binnie',
 'Ruby',
 'Henry',
 'Theo',
 'Alvin',
 'Othello',
 'Ogle',
 'Ezelle',
 'Christie',
 'Minnie',
 'Zera',
 'Elbert',
 'Ola',
 'Garnett',
 'Marjorie',
 'Angela',
 'Reyes',
 'Rivers',
 'Odia',
 'Katherine',
 'Carlie',
 'Vearl',
 'Marian',
 'Allen',
 'Alpha',
 'Daryl',
 'Caryl',
 'Zenith',
 'Carmon',
 'Leland',
 'Limmie',
 'Richard',
 'June',
 'Evelyn',
 'Loney',
 'Cleon',
 'Mayo',
 'Boyce',
 'Franklin',
 'Russel',
 'Vernie',
 'Oval',
 'Catherine',
 'Junie',
 'Ralph',
 'Odie',
 'Hollis',
 'Mae',
 'Lonie',
 'Coye',
 'Oree',
 'Elmo',
 'Neil',
 'Valley',
 'Loyd',
 'Maria',
 'Willie',
 'Jannie',
 'Jeffie',
 'Milton',
 'Otha',
 'Terrell',
 'Dixie',
 'Nettie',
 'Maynard',
 'Fannie',
 'Ruth',
 'Ercel',
 'Dexter',
 'Virginia',
 'Marcelle',
 'Burdette',
 'Lupe',
 'Cletis',
 'Glen',
 'Lacie',
 'Alfred',
 'Cameron',
 'Cornie',
 'Vincent',
 'Erin',
 'Van',
 'Sam',
 'Elba',
 'Ardis',
 'Stella',
 'Verne',
 'Mildred',
 'Oscar',
 'Cecile',
 'Odessa',
 'Ethel',
 'Maurice',
 'Rufus',
 'Ivy',
 'Jacob',
 'Curlie',
 'Mannie',
 'Odis',
 'Archie',
 'Marrion',
 'Verna',
 'Cyril',
 'Marty',
 'Alice',
 'Genie',
 'Harvey',
 'Hilton',
 'Susie',
 'Carmen',
 'Leo',
 'Collie',
 'Audrey',
 'Leslie',
 'Augusta',
 'Monty',
 'Mark',
 'Pattie',
 'Elsie',
 'Dana',
 'Evon',
 'Romie',
 'Jettie',
 'Thomas',
 'Oma',
 'Roger',
 'Ira',
 'Julian',
 'Gladys',
 'Alvie',
 'Paige',
 'Pearlie',
 'Carol',
 'Sara',
 'Daisy',
 'Oddie',
 'Hildreth',
 'Eugene',
 'Wilmoth',
 'Bernis',
 'Tommie',
 'Kelly',
 'Theodora',
 'Virgie',
 'Muriel',
 'Murriel',
 'Mackie',
 'Ebbie',
 'Beauford',
 'Carroll',
 'Trine',
 'Dorothy',
 'Lavelle',
 'Merle',
 'Francisco',
 'Marion',
 'Haley',
 'Carline',
 'Vernon',
 'Leone',
 'Ervin',
 'Maxie',
 'Donald',
 'Annie',
 'Winfred',
 'Delmar',
 'Roy',
 'Doris',
 'Shellie',
 'Cornelious',
 'Oral',
 'Betty',
 'Cordie',
 'Irby',
 'Baby',
 'Laddie',
 'Reginald',
 'Vesper',
 'Dayle',
 'Stewart',
 'Ocie',
 'Stacy',
 'Natividad',
 'Claud',
 'Florence',
 'Benny',
 'Rudolph',
 'Loyce',
 'Ammie',
 'Homer',
 'Rose',
 'Dorian',
 'Cherry',
 'Velma',
 'Esther',
 'Sylvester',
 'Carey',
 'Val',
 'Kermit',
 'Bee',
 'Wilson',
 'Katie',
 'Davis',
 'Andre',
 'Frederick',
 'Doy',
 'Theodore',
 'Claudie',
 'Gussie',
 'Myrl',
 'Hope',
 'Eron',
 'Gilbert',
 'Ordell',
 'Sarah',
 'Osie',
 'Alva',
 'Caroll',
 'Albert',
 'Laurel',
 'Louise',
 'Tomie',
 'Garland',
 'Olen',
 'Averill',
 'Meryl',
 'Monte',
 'Dick',
 'Erma',
 'Harry',
 'Guadalupe',
 'Ella',
 'Refugio',
 'Hilda',
 'Kaye',
 'Jewel',
 'Onie',
 'Arnold',
 'Frank',
 'Violet',
 'Denver',
 'Claudell',
 'Hubert',
 'Dora',
 'Page',
 'Lester',
 'Bonny',
 'Orie',
 'Eva',
 'Santos',
 'Georgie',
 'Viola',
 'Vivien',
 'Carlyle',
 'Arlyn',
 'Leon',
 'Sadie',
 'Gale',
 'Lemoyne',
 'Robbie',
 'Eunice',
 'Lyndal',
 'Herman',
 'Love',
 'Grady',
 'Lemmie',
 'Perle',
 'Bill',
 'Rue',
 'Olga',
 'Arlene',
 'Wallace',
 'Valentine',
 'Anne',
 'Everett',
 'Arlen',
 'Daris',
 'Norma',
 'Merel',
 'Salome',
 'Ula',
 'Loraine',
 'Dessie',
 'Jay',
 'Lacy',
 'Boyd',
 'Luther',
 'Joyce',
 'Charles',
 'Newell',
 'Genevieve',
 'Fayette',
 'Clayton',
 'Nelson',
 'Sylva',
 'Varnell',
 'Lennis',
 'Norvell',
 'Earl',
 'Lossie',
 'Francisca',
 'Sophie',
 'Adel',
 'Rainey',
 'Marvis',
 'Marice',
 'Horace',
 'Ivory',
 'Wilton',
 'Lucile',
 'Enis',
 'Haven',
 'Glenn',
 'Doyle',
 'Larry',
 'Scottie',
 'Nellie',
 'Emery',
 'Dorsey',
 'Verner',
 'Clair',
 'Jody',
 'Max',
 'Oneal',
 'Ermal',
 'Oda',
 'Sandy',
 'Ival',
 'Sylvia',
 'Letha',
 'James',
 'Billie',
 'Arlee',
 'Rubie',
 'Noble',
 'Raye',
 'Tharon',
 'Irvine',
 'Jimmy',
 'Ardel',
 'Ova',
 'Mavis',
 'Veryl',
 'Hugh',
 'Shelley',
 'Macy',
 'Winston',
 'Lannie',
 'Alma',
 'Lloyd',
 'Elvin',
 'Simone',
 'Jesse',
 'Claudia',
 'Mamie',
 'Garnet',
 'Golden',
 'Leroy',
 'Tillie',
 'Faye',
 'Vilas',
 'Jewell',
 'Neal',
 'Dell',
 'August',
 'Shirley',
 'Rochelle',
 'Jacque',
 'Lola',
 'Marvel',
 'Arlie',
 'Jemmie',
 'Grover',
 'Sammy',
 'Chester',
 'Ivey',
 'Rudy',
 'Glennie',
 'Little',
 'Audry',
 'Lillie',
 'Walter',
 'Floy',
 'Encarnacion',
 'Arnie',
 'Berlin',
 'Inez',
 'Emma',
 'Alba',
 'Mitchell',
 'Levon',
 'Lexie',
 'Lucille',
 'Clara',
 'Lue',
 'Rebecca',
 'Johnie',
 'Vere',
 'Eathel',
 'Julie',
 'Elmer',
 'Burnette',
 'Troy',
 'Nora',
 'Bert',
 'Cloyce',
 'Irene',
 'Quincy',
 'Lorain',
 'Larue',
 'Kay',
 'Jodie',
 'Sydney',
 'May',
 'Ardie',
 'Lorenza',
 'Johnnie',
 'Vestal',
 'Elvie',
 'Pearley',
 'Ariel',
 'Brownie',
 'Coy',
 'Vernis',
 'Victor',
 'Dallas',
 'Foye',
 'Martin',
 'Gene',
 'Charley',
 'Ada',
 'Vollie',
 'Octavia',
 'Hessie',
 'Percy',
 'Elvis',
 'Michael',
 'Patty',
 'Hollie',
 'Bethel',
 'Nieves',
 'Burdell',
 'Ida',
 'Dale',
 'Cletus',
 'Stacey',
 'Beverley',
 'Myrle',
 'Melville',
 'Marvin',
 'Joe',
 'Vera',
 'Robin',
 'Dave',
 'Lonnie',
 'Nicholas',
 'Sharon',
 'Lee',
 'Ted',
 'Louis',
 'Tom',
 'Mable',
 'Avon',
 'Aggie',
 'Marshall',
 'Margarita',
 'Wilma',
 'Berlie',
 'Lydia',
 'Luz',
 'Christy',
 'Vern',
 'Raphael',
 'Darnell',
 'Charlotte',
 'Artie',
 'Bobbie',
 'Lea',
 'Ernie',
 'Vernice',
 'Andy',
 'Vernal',
 'Wardie',
 'Roma',
 'Carter',
 'Lovell',
 'Odelle',
 'Bertis',
 'Hilary',
 'Wilbert',
 'Wendell',
 'Dossie',
 'Marvell',
 'Feliz',
 'Barney',
 'Blanche',
 'Marcell',
 'Craig',
 'Ovie',
 'Babe',
 'Bernell',
 'Maris',
 'Montie',
 'Forrest',
 'Emerald',
 'Regis',
 'Zannie',
 'Clare',
 'Autry',
 'Chris',
 'Palmer',
 'Armen',
 'Osa',
 'Rea',
 'Allison',
 'Loretto',
 'Arley',
 'Warren',
 'Claudy',
 'Maggie',
 'Willia',
 'Neville',
 'Young',
 'Eloise',
 'Claude',
 'Aris',
 'Pat',
 'Almer',
 'Jess',
 'Vee',
 'Bernard',
 'Venus',
 'Rossie',
 'Sammie',
 'Rita',
 'Marie',
 'Cassie',
 'Laurice',
 'Goldie',
 'Erie',
 'Petra',
 'Benjamin',
 'Nollie',
 'Travis',
 'Drexel',
 'Teddie',
 'Roberta',
 'Joan',
 'Laverne',
 'Sterling',
 'Laurence',
 'Kelley',
 'Earlie',
 'Olean',
 'Tommy',
 'Norris',
 'Anita',
 'Carrol',
 'Murle',
 'Mabel',
 'Addie',
 'Carl',
 'Jan',
 'Waverly',
 'Mattie',
 'Alvis',
 'Gillie',
 'Mason',
 'Elzie',
 'Rozell',
 'Cruz',
 'Curtis',
 'Elza',
 'Vaughn',
 'Ozie',
 'Ray',
 'Arrie',
 'Leary',
 'Collis',
 'Timmie',
 'Leona',
 'Loris',
 'Geneva',
 'Orville',
 'Teddy',
 'Jonnie',
 'Luis',
 'Millie',
 'Luverne',
 'Clarence',
 'Eldon',
 'Clyde',
 'Iver',
 'Sunny',
 'Radie',
 'Oliver',
 'Amos',
 'Emily',
 'Woodie',
 'Connie',
 'Dennis',
 'Ora',
 'Velmer',
 'Rosario',
 'Mervin',
 'Vernell',
 'Maude',
 'Lora',
 'Otto',
 'Gradie',
 'Estill',
 'Ivery',
 'Mickey',
 'Verdie',
 'Bernice',
 'Maxine',
 'Bruce',
 'Lesley',
 'Lorraine',
 'Olie',
 'Allie',
 'David',
 'Miller',
 'Carlin',
 'Foy',
 'Oliva',
 'Jose',
 'Orla',
 'Walker',
 'Manuel',
 'Loys',
 'Dempsey',
 'Willy',
 'Simmie',
 'Jamie',
 'Sherry',
 'Howard',
 ...}

In [38]:
for x in list(neutral):
    names_1920.loc[names_1920.name == x, 'gender'] = 2

In [39]:
names_1920.gender.value_counts()

1    4643
0    3869
2    2242
Name: gender, dtype: int64

In [40]:
names_1920.drop_duplicates(inplace=True)

In [42]:
names_1920.gender.value_counts()

1    4643
0    3869
2    1121
Name: gender, dtype: int64

In [43]:
len(names_1920)

9633

In [45]:
# function to reassign gender value 2 to gender neutral names and drop duplicates from single dataframe

def reassign_gender_neutral_drop_duplicates(df):
    
    girl_names = []
    boy_names = []

    for x in df.values:
        if x[1] == 1:
            girl_names.append(x[0])
        if x[1] == 0:
            boy_names.append(x[0])
    
    neutral = set(girl_names).intersection(set(boy_names))
    
    for x in list(neutral):
        df.loc[df.name == x, 'gender'] = 2
        
    df.drop_duplicates(inplace=True)

In [46]:
reassign_gender_neutral_drop_duplicates(names_1950)

In [47]:
names_1950.gender.value_counts()

1    5087
0    3168
2    1023
Name: gender, dtype: int64

In [56]:
names_1950.loc[names_1950.gender == 2][:50]

         name  gender
0        Mary       2
1    Patricia       2
2     Barbara       2
3       Susan       2
4       Nancy       2
5     Deborah       2
6      Sandra       2
7       Carol       2
8    Kathleen       2
9      Sharon       2
10      Karen       2
11      Donna       2
12     Brenda       2
13   Margaret       2
14      Diane       2
15     Pamela       2
16      Janet       2
17    Shirley       2
18    Carolyn       2
19     Judith       2
20     Janice       2
21    Cynthia       2
22  Elizabeth       2
23       Judy       2
24      Betty       2
25      Joyce       2
26  Christine       2
27     Cheryl       2
28     Gloria       2
29    Beverly       2
30     Martha       2
31     Bonnie       2
32  Catherine       2
33    Dorothy       2
34    Rebecca       2
35    Marilyn       2
36      Kathy       2
37       Jane       2
38       Joan       2
39      Peggy       2
40       Gail       2
41   Virginia       2
42     Connie       2
43        Ann       2
44    Kathryn       2
45      Diana       2
46       Jean       2
47       Ruth       2
48      Helen       2
49    Frances       2

In [ ]:
# I feel like some of these are probably a mistake and might be easier to identify as such if I had kept the
# counts from earlier. . . reload 1950 dataset and examine counts

In [ ]:
# big_name_df = pd.concat([names_1920, names_1950, names_1980, names_2010, names_2017], axis=0)
# concatenated.drop_duplicates(cols='name')

# need to check for gender neutral names before merging all dfs

In [ ]:
def clean_baby_df(df):
    df.columns = ['name', 'gender', 'xyz']
    df.drop('xyz', axis=1, inplace=True)
    df.gender.replace({'F': 1, 'M': 0}, inplace=True)
    # return df