In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd

In [2]:
bechdel_df = pd.read_csv('my_data/bechdel_test_movies.csv')
bechdel_df.head()

,year,title,score,passing,imdb_id,imdb_link
0,2019,Alita: Battle Angel,3,1,tt0437086,http://us.imdb.com/title/tt0437086/
1,2019,American Woman,3,1,tt9109492,http://us.imdb.com/title/tt9109492/
2,2019,Close,3,1,tt5316540,http://us.imdb.com/title/tt5316540/
3,2019,Cold Pursuit,1,0,tt5719748,http://us.imdb.com/title/tt5719748/
4,2019,How to Train Your Dragon: The Hidden World,2,0,tt2386490,http://us.imdb.com/title/tt2386490/

In [5]:
# example from book
# Linked movie database, which feels very mysterious

# sparql = SPARQLWrapper('http://data.linkedmbd.org/sparql')
# queryString = """
# PREFIX m: <http://data.linkedmdb.org/resource/movie/>
# SELECT DISTINCT ?actorName WHERE {

# ?dir1 m:director_name 'Steven Spielberg' .
# ?dir2 m:director_name 'Stanley Kubrick' .

# ?dir1film m:director ?dir1;
#           m:actor ?actor .
        
# ?dir2film m:director ?dir2;
#           m:actor ?actor .
# }
# """

# sparql.setQuery(queryString)
# sparql.setReturnFormat(JSON)
# results = sparql.query().convert()

# if (len(results['results']['bindings']) == 0):
#     print('No results found.')
# else:
#     for result in results['results']['bindings']:
#         print(result['actorName']['value'])

# I am not sure at all about this linked movie db

In [7]:
# SPARQLWrapper docs
sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery("""
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    SELECT ?label
    WHERE { <http://dbpedia.org/resource/Asturias> rdfs:label ?label }
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for result in results["results"]["bindings"]:
    print('%s: %s' % (result["label"]["xml:lang"], result["label"]["value"]))

en: Asturias
ar: منطقة أستورياس
de: Asturien
es: Asturias
fr: Asturies
it: Asturie
ja: アストゥリアス州
nl: Asturië (regio)
pl: Asturia
pt: Astúrias
ru: Астурия
zh: 阿斯图里亚斯

In [11]:
sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery("""
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    SELECT ?movieTitle ?directorName
    WHERE { 
    ?movie a dbo:Film.
    ?movie dbo:director ?director.
    
    ?movie rdfs:label ?movieTitle.
    ?director rdfs:label ?directorName.
    }
    LIMIT 5
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for result in results["results"]["bindings"]:
    # print('%s: %s' % (result["movieTitle"]["xml:lang"], result["movieTitle"]["value"]))
    print(result)

{'movieTitle': {'type': 'literal', 'xml:lang': 'en', 'value': 'The Apartment'}, 'directorName': {'type': 'literal', 'xml:lang': 'en', 'value': 'Billy Wilder'}}
{'movieTitle': {'type': 'literal', 'xml:lang': 'en', 'value': 'The Apartment'}, 'directorName': {'type': 'literal', 'xml:lang': 'ar', 'value': 'بيلي وايلدر'}}
{'movieTitle': {'type': 'literal', 'xml:lang': 'en', 'value': 'The Apartment'}, 'directorName': {'type': 'literal', 'xml:lang': 'de', 'value': 'Billy Wilder'}}
{'movieTitle': {'type': 'literal', 'xml:lang': 'en', 'value': 'The Apartment'}, 'directorName': {'type': 'literal', 'xml:lang': 'es', 'value': 'Billy Wilder'}}
{'movieTitle': {'type': 'literal', 'xml:lang': 'en', 'value': 'The Apartment'}, 'directorName': {'type': 'literal', 'xml:lang': 'fr', 'value': 'Billy Wilder'}}