In [1]:
import json
import pandas as pd
import numpy as np
import tmdbsimple as tmdb

from get_path import path
from requests import get
from time import sleep, time
from warnings import warn

## I. The Movie Database API

#### Import API key

In [8]:
with open(path) as f:
    data = json.load(f)

In [9]:
tmdb.API_KEY = data['key']

In [10]:
api_key = data['key']

In [6]:
bechdel_df = pd.read_csv('my_data/updated_bechdel_2.csv')
bechdel_df.head()

,year,title,score,passing,imdb_id,director_fnbt,writer_fnbt,exec_fnbt,producer_fnbt,overall_fnbt,updated_budgets,updated_revenue
0,2019.0,Alita: Battle Angel,3.0,1.0,tt0437086,0.0,1.0,0.0,0.0,1.0,170000000.0,359700000.0
1,2019.0,American Woman,3.0,1.0,tt9109492,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2019.0,Close,3.0,1.0,tt5316540,1.0,1.0,0.0,0.0,2.0,0.0,0.0
3,2019.0,Cold Pursuit,1.0,0.0,tt5719748,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.0,How to Train Your Dragon: The Hidden World,2.0,0.0,tt2386490,NaN,NaN,NaN,NaN,NaN,0.0,0.0

### A. tmdbsimple wrapper

#### Search by query

In [8]:
search = tmdb.Search()
response = search.movie(query='How to Train Your Dragon: The Hidden World')
for s in search.results:
    print(s)

{'vote_count': 993, 'id': 166428, 'video': False, 'vote_average': 7.8, 'title': 'How to Train Your Dragon: The Hidden World', 'popularity': 310.039, 'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg', 'original_language': 'en', 'original_title': 'How to Train Your Dragon: The Hidden World', 'genre_ids': [16, 10751, 12], 'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg', 'adult': False, 'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.', 'release_date': '2019-01-03'}

#### Movie details with TMDB id

In [9]:
response = tmdb.Movies(166428).info()

In [10]:
response

{'adult': False,
 'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
 'belongs_to_collection': {'id': 89137,
  'name': 'How to Train Your Dragon Collection',
  'poster_path': '/4tBKIkPLFMkiZETjAMOHNoty8B1.jpg',
  'backdrop_path': '/mvcfPkOvgDJG2lEAxTz0NKqoQLo.jpg'},
 'budget': 129000000,
 'genres': [{'id': 16, 'name': 'Animation'},
  {'id': 10751, 'name': 'Family'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.howtotrainyourdragon.com/',
 'id': 166428,
 'imdb_id': 'tt2386490',
 'original_language': 'en',
 'original_title': 'How to Train Your Dragon: The Hidden World',
 'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
 'popularity': 310.039,
 'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
 'production_companies': [{'id': 20154,
   'logo_path': None,
   'name': 'Mad Hatter Entertainment',
   'origin_country': 'US'},
  {'id': 521,
   'logo_path': '/kP7t6RwGz2AvvTkvnI1uteEwHet.png',
   'name': 'DreamWorks Animation',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2019-01-03',
 'revenue': 375396270,
 'runtime': 104,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': 'The friendship of a lifetime',
 'title': 'How to Train Your Dragon: The Hidden World',
 'video': False,
 'vote_average': 7.8,
 'vote_count': 998}

#### General details with IMDB id

In [49]:
find = tmdb.Find('tt2386490')
response = find.info(external_source='imdb_id',append_to_response='budget,revenue')
response

{'movie_results': [{'id': 166428,
   'video': False,
   'vote_count': 993,
   'vote_average': 7.8,
   'title': 'How to Train Your Dragon: The Hidden World',
   'release_date': '2019-01-03',
   'original_language': 'en',
   'original_title': 'How to Train Your Dragon: The Hidden World',
   'genre_ids': [12, 16, 10751],
   'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
   'adult': False,
   'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
   'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
   'popularity': 310.039}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': [],
 'budget': {'movie_results': [],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []},
 'revenue': {'movie_results': [],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []}}

In [28]:
response['movie_results']

[{'id': 166428,
  'video': False,
  'vote_count': 993,
  'vote_average': 7.8,
  'title': 'How to Train Your Dragon: The Hidden World',
  'release_date': '2019-01-03',
  'original_language': 'en',
  'original_title': 'How to Train Your Dragon: The Hidden World',
  'genre_ids': [12, 16, 10751],
  'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
  'adult': False,
  'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
  'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
  'popularity': 310.039}]

#### Test code for Function

In [157]:
test_find = tmdb.Find('tt2255372')
test_response = test_find.info(external_source='imdb_id')
test_response

{'movie_results': [],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [159]:
test_response['movie_results'] == True

False

In [80]:
test_find = tmdb.Find('tt0359950')
test_response = test_find.info(external_source='imdb_id')
test_response

{'movie_results': [{'id': 116745,
   'video': False,
   'vote_count': 4696,
   'vote_average': 7.1,
   'title': 'The Secret Life of Walter Mitty',
   'release_date': '2013-12-18',
   'original_language': 'en',
   'original_title': 'The Secret Life of Walter Mitty',
   'genre_ids': [12, 35, 18, 14],
   'backdrop_path': '/mrvlpJFAzKwZZkLm9VD7Rh2VECi.jpg',
   'adult': False,
   'overview': 'A timid magazine photo manager who lives life vicariously through daydreams embarks on a true-life adventure when a negative goes missing.',
   'poster_path': '/b0nIj7dr2bcLAn3erYhql7f6aUm.jpg',
   'popularity': 11.611}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [70]:
tmdb_id = test_response['movie_results'][0]['id']

In [71]:
response = tmdb.Movies(tmdb_id).info()
response

{'adult': False,
 'backdrop_path': '/mrvlpJFAzKwZZkLm9VD7Rh2VECi.jpg',
 'belongs_to_collection': None,
 'budget': 90000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 18, 'name': 'Drama'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': None,
 'id': 116745,
 'imdb_id': 'tt0359950',
 'original_language': 'en',
 'original_title': 'The Secret Life of Walter Mitty',
 'overview': 'A timid magazine photo manager who lives life vicariously through daydreams embarks on a true-life adventure when a negative goes missing.',
 'popularity': 11.611,
 'poster_path': '/b0nIj7dr2bcLAn3erYhql7f6aUm.jpg',
 'production_companies': [{'id': 290,
   'logo_path': '/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png',
   'name': 'Ingenious Media',
   'origin_country': 'GB'},
  {'id': 22213,
   'logo_path': '/qx9K6bFWJupwde0xQDwOvXkOaL8.png',
   'name': 'TSG Entertainment',
   'origin_country': 'US'},
  {'id': 9118,
   'logo_path': '/9o6KLcDBRw3fNItUflJVwj8dZpC.png',
   'name': 'Samuel Goldwyn Films',
   'origin_country': 'US'},
  {'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 10893,
   'logo_path': None,
   'name': 'Big Screen Productions',
   'origin_country': ''},
  {'id': 37336,
   'logo_path': None,
   'name': 'Down Productions',
   'origin_country': ''},
  {'id': 25,
   'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
   'name': '20th Century Fox',
   'origin_country': 'US'},
  {'id': 2932,
   'logo_path': '/4uLKLjGivVg2YnAIhAn8k7ZuVFj.png',
   'name': 'Red Hour',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2013-12-18',
 'revenue': 188133322,
 'runtime': 114,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': 'Stop Dreaming, Start Living',
 'title': 'The Secret Life of Walter Mitty',
 'video': False,
 'vote_average': 7.1,
 'vote_count': 4696}

In [72]:
response['budget']

90000000

In [73]:
response['revenue']

188133322

#### Request Function using wrapper

In [ ]:
def get_budget_and_revenue(list_of_imdb_ids):
    
    counter = 0
    
    budget_dict = {}
    revenue_dict = {}
    
    for imdb_id in list_of_imdb_ids:
        find = tmdb.Find(imdb_id)
        find_response = find.info(external_source='imdb_id')
        counter += 1
        print(f'counter = {counter}')
        
        if find_response['movie_results']:
            tmdb_id = find_response['movie_results'][0]['id']
            movie_response = tmdb.Movies(tmdb_id).info()
            budget_dict[imdb_id] = movie_response['budget']
            revenue_dict[imdb_id] = movie_response['revenue']
            counter += 1
            print(f'counter = {counter}')
        else:
            print(f'No movie info for {imdb_id}')

### B. Maybe no wrapper

In [6]:
from ratelimit import limits

In [7]:
@limits(calls=40, period=10)
def call_api(url):
    response = get(url)
    if response.status_code != 200:
        raise Exception('API response: {}'.format(response.status_code))
    return response

#### Test function

In [122]:
# test list
imdb_id_list = ['tt5316540', 'tt5719748', 'tt2386490']
movie_pages = []
for imdb_id in imdb_id_list:
    url = 'https://api.themoviedb.org/3/find/' + imdb_id + '?api_key=' + api_key + '&external_source=imdb_id'
    response = call_api(url)
    movie_pages.append(response.json())

In [123]:
movie_pages

[{'movie_results': [{'adult': False,
    'backdrop_path': '/j7n2zYUODG8ViBSq7VyXyGlwJfH.jpg',
    'genre_ids': [28, 53],
    'id': 460321,
    'original_language': 'en',
    'original_title': 'Close',
    'overview': 'A counter-terrorism expert takes a job protecting a young heiress. After an attempted kidnapping puts both of their lives in danger, they must flee.',
    'poster_path': '/gDvJFHJCVXce4SVDsbLOqUk9sKQ.jpg',
    'release_date': '2019-01-18',
    'title': 'Close',
    'video': False,
    'vote_average': 5.6,
    'vote_count': 222,
    'popularity': 23.585}],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []},
 {'movie_results': [{'adult': False,
    'backdrop_path': '/7Wg6FOEvhduISlxSzSCutAl4lPq.jpg',
    'genre_ids': [53, 28, 18],
    'id': 438650,
    'original_language': 'en',
    'original_title': 'Cold Pursuit',
    'overview': "Nels Coxman's quiet life comes crashing down when his beloved son dies under mysterious circumstances. His search for the truth soon becomes a quest for revenge as he seeks coldblooded justice against a drug lord and his inner circle.",
    'poster_path': '/hXgmWPd1SuujRZ4QnKLzrj79PAw.jpg',
    'release_date': '2019-02-07',
    'title': 'Cold Pursuit',
    'video': False,
    'vote_average': 5.2,
    'vote_count': 235,
    'popularity': 60.938}],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []},
 {'movie_results': [{'id': 166428,
    'video': False,
    'vote_count': 993,
    'vote_average': 7.8,
    'title': 'How to Train Your Dragon: The Hidden World',
    'release_date': '2019-01-03',
    'original_language': 'en',
    'original_title': 'How to Train Your Dragon: The Hidden World',
    'genre_ids': [12, 16, 10751],
    'backdrop_path': '/h3KN24PrOheHVYs9ypuOIdFBEpX.jpg',
    'adult': False,
    'overview': 'As Hiccup fulfills his dream of creating a peaceful dragon utopia, Toothless’ discovery of an untamed, elusive mate draws the Night Fury away. When danger mounts at home and Hiccup’s reign as village chief is tested, both dragon and rider must make impossible decisions to save their kind.',
    'poster_path': '/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg',
    'popularity': 310.039}],
  'person_results': [],
  'tv_results': [],
  'tv_episode_results': [],
  'tv_season_results': []}]

In [124]:
tmdb_ids = []
for movie in movie_pages:
    tmdb_ids.append(movie['movie_results'][0]['id'])

In [125]:
tmdb_ids

[460321, 438650, 166428]

In [133]:
budgets = []
revenues = []
for tmdb_id in tmdb_ids:
    url = 'https://api.themoviedb.org/3/movie/' + str(tmdb_id) + '?api_key=' + api_key
    response = call_api(url)
    movie_details = response.json()
    budgets.append(movie_details['budget'])
    revenues.append(movie_details['revenue'])

In [134]:
budgets

[0, 0, 129000000]

In [136]:
revenues

[0, 0, 375396270]

#### All Together Now!

In [150]:
from datetime import datetime

In [195]:
imdb_id_list = imdb_ids
movie_pages = []
tmdb_ids = []
budgets = {}
revenues = {}
bad_ids = []

In [196]:
start = datetime.now()

for imdb_id in imdb_id_list:
    
    url = 'https://api.themoviedb.org/3/find/' + imdb_id + '?api_key=' + api_key + '&external_source=imdb_id'
    response = call_api(url)
    movie_info = response.json()
    if movie_info['movie_results']:
        movie_pages.append(movie_info)
    else:
        print(f'No info for {imdb_id}')
        bad_ids.append(imdb_id)
        
elapsed = start - datetime.now()
print(f'Total time: {elapsed}')

No info for tt5861756
No info for tt
No info for tt
No info for tt5598192
No info for tt5833846
No info for tt7341676
No info for tt6524480
No info for tt5675620
No info for tt5997830
No info for tt4956232
No info for tt4270492
No info for tt4869556
No info for tt4644822
No info for tt5709236
No info for tt5022298
No info for tt6220550
No info for tt2938496
No info for tt5580664
No info for tt4000768
No info for tt4108134
No info for tt4498966
No info for tt4895704
No info for tt6663788
No info for tt4780834
No info for tt2431438
No info for tt4858280
No info for tt2742544
No info for tt3749900
No info for tt3638604
No info for tt4211680
No info for tt3566726
No info for tt3457342
No info for tt3630276
No info for tt2964334
No info for tt3448098
No info for tt2294189
No info for tt2991316
No info for tt2309295
No info for tt1856010
No info for tt191181
No info for tt2628260
No info for tt2520512
No info for tt2407574
No info for tt2234222
No info for tt3066242
No info for tt2255372
No info for tt3061046
No info for tt1864750
No info for tt2306299
No info for tt2542420
No info for tt2387222
No info for tt2275990
No info for tt2191671
No info for tt2294076
No info for tt2262308
No info for tt2243973
No info for tt2592512
No info for tt2392261
No info for tt1976633
No info for tt598828
No info for tt2504614
No info for tt2285752
No info for tt3100510
No info for tt2435166
No info for tt2678152
No info for tt1319708
No info for tt1872328
No info for tt1492030
No info for tt1843678
No info for tt1604225
No info for tt1219817
No info for tt1578873
No info for tt1648133
No info for tt1340768
No info for tt1479163
No info for tt1521783
No info for tt1442437
No info for tt1326956
No info for tt1648194
No info for tt1461305
No info for tt1263772
No info for tt1340664
No info for tt1199099
No info for tt1356380
No info for tt420238
No info for tt1095573
No info for tt00293564
No info for tt0493093
No info for tt0491738
No info for tt1273816
No info for tt0492571
No info for tt0423651
No info for tt0413573
No info for tt0756522
No info for tt0417349
No info for tt0367462
No info for tt0318997
No info for tt0348913
No info for tt0339882
No info for tt0259153
No info for tt0185906
No info for tt2321187
No info for tt0142032
No info for tt0257001
No info for tt0286137
No info for tt0182576
No info for tt0205214
No info for tt0135659
No info for tt0215364
No info for tt0120756
No info for tt0377683
No info for tt0112040
No info for tt0112130
No info for tt0108941
No info for tt0170817
No info for tt0107099
No info for tt0099864
No info for tt0098897
No info for tt0098032
No info for tt0098675
No info for tt5739786
No info for tt0086739
No info for tt0078509
No info for tt0072500
No info for tt0188484
No info for tt53285
No info for tt0028000
No info for tt0377995
Total time: -1 day, 23:11:50.866114

In [197]:
len(movie_pages)

7961

In [198]:
len(bad_ids)

128

In [199]:
bad_ids_df = pd.Series(data=bad_ids)
bad_ids_df.head()

0    tt5861756
1           tt
2           tt
3    tt5598192
4    tt5833846
dtype: object

In [200]:
bad_ids_df.shape

(128,)

In [201]:
bad_ids_df.to_csv('my_data/bad_ids_from_api_call.csv', index=False)

In [202]:
for movie in movie_pages:
    tmdb_ids.append(movie['movie_results'][0]['id'])

In [203]:
len(tmdb_ids)

7961

In [204]:
start = datetime.now()

for tmdb_id in tmdb_ids:
    url = 'https://api.themoviedb.org/3/movie/' + str(tmdb_id) + '?api_key=' + api_key
    response = call_api(url)
    movie_details = response.json()
    imdb_id = movie_details['imdb_id']
    budgets[imdb_id] = movie_details['budget']
    revenues[imdb_id] = movie_details['revenue']
    
elapsed = datetime.now() - start
print(f'Total time: {elapsed}')

Total time: 0:49:08.690481

In [205]:
# stuff to run while I go do other stuff

In [206]:
budget_df = pd.DataFrame.from_dict(data=budgets, orient='index')
revenue_df = pd.DataFrame.from_dict(data=revenues, orient='index')

In [207]:
budget_df.to_csv('my_data/budget_data_from_api.csv')
revenue_df.to_csv('my_data/revenue_data_from_api.csv')

In [212]:
budget_df.head()

                   0
tt0437086  170000000
tt9109492          0
tt5316540          0
tt5719748          0
tt2386490  129000000

In [216]:
budget_df[0].head()

tt0437086    170000000
tt9109492            0
tt5316540            0
tt5719748            0
tt2386490    129000000
Name: 0, dtype: int64

In [217]:
len(budget_df.loc[budget_df[0] != 0])

4133

In [219]:
len(bechdel_df.loc[bechdel_df.updated_budgets != 0])

4009

In [220]:
len(revenue_df.loc[revenue_df[0] != 0])

4093

In [221]:
len(bechdel_df.loc[bechdel_df.updated_revenue != 0])

3956

#### ALL THE MOVIES!

In [218]:
bechdel_df.head()

,year,title,score,passing,imdb_id,director_fnbt,writer_fnbt,exec_fnbt,producer_fnbt,overall_fnbt,updated_budgets,updated_revenue
0,2019.0,Alita: Battle Angel,3.0,1.0,tt0437086,0.0,1.0,0.0,0.0,1.0,170000000.0,359700000.0
1,2019.0,American Woman,3.0,1.0,tt9109492,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2019.0,Close,3.0,1.0,tt5316540,1.0,1.0,0.0,0.0,2.0,0.0,0.0
3,2019.0,Cold Pursuit,1.0,0.0,tt5719748,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.0,How to Train Your Dragon: The Hidden World,2.0,0.0,tt2386490,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [209]:
# bechdel_df.shape

In [210]:
# imdb_ids = []
# for imdb_id in bechdel_df.imdb_id.values:
#     imdb_ids.append(imdb_id)

In [211]:
# len(imdb_ids)

### C. FIND THE TV SHOWS

In [3]:
bad_ids_possible_tvs = pd.read_csv('my_data/bad_ids_from_api_call.csv', header=None)
bad_ids_possible_tvs.head()

           0
0  tt5861756
1         tt
2         tt
3  tt5598192
4  tt5833846

In [4]:
bad_ids_possible_tvs.drop([1,2], axis=0, inplace=True)

#### Test for TV show detection

In [11]:
# The Punisher = tt5675620
url = 'https://api.themoviedb.org/3/find/' + 'tt5675620' + '?api_key=' + api_key + '&external_source=imdb_id'
response = call_api(url)

In [13]:
results = response.json()

In [14]:
results

{'movie_results': [],
 'person_results': [],
 'tv_results': [{'original_name': "Marvel's The Punisher",
   'id': 67178,
   'name': "Marvel's The Punisher",
   'vote_count': 425,
   'vote_average': 8.0,
   'first_air_date': '2017-11-17',
   'poster_path': '/s2YM9zHF3tf2coi8t0UEzYrOHg8.jpg',
   'genre_ids': [80, 18, 10759],
   'original_language': 'en',
   'backdrop_path': '/sRr5NdPic882T24dNwkiw2VMst6.jpg',
   'overview': "A former Marine out to punish the criminals responsible for his family's murder finds himself ensnared in a military conspiracy.",
   'origin_country': ['US'],
   'popularity': 25.937}],
 'tv_episode_results': [],
 'tv_season_results': []}

In [15]:
results['tv_results']

[{'original_name': "Marvel's The Punisher",
  'id': 67178,
  'name': "Marvel's The Punisher",
  'vote_count': 425,
  'vote_average': 8.0,
  'first_air_date': '2017-11-17',
  'poster_path': '/s2YM9zHF3tf2coi8t0UEzYrOHg8.jpg',
  'genre_ids': [80, 18, 10759],
  'original_language': 'en',
  'backdrop_path': '/sRr5NdPic882T24dNwkiw2VMst6.jpg',
  'overview': "A former Marine out to punish the criminals responsible for his family's murder finds himself ensnared in a military conspiracy.",
  'origin_country': ['US'],
  'popularity': 25.937}]

In [16]:
results['movie_results']

[]

In [17]:
tv_show_ids = []
other_ids = []

In [18]:
imdb_id_list = list(bad_ids_possible_tvs[0].values)

In [22]:
# imdb_id_list
from datetime import datetime

In [23]:
start = datetime.now()

for imdb_id in imdb_id_list:
    
    url = 'https://api.themoviedb.org/3/find/' + imdb_id + '?api_key=' + api_key + '&external_source=imdb_id'
    response = call_api(url)
    results = response.json()
    if results['tv_results']:
        tv_show_ids.append(imdb_id)
    else:
        print(f'{imdb_id} is not a TV show')
        other_ids.append(imdb_id)
        
elapsed = start - datetime.now()
print(f'Total time: {elapsed}')

tt5861756 is not a TV show
tt7341676 is not a TV show
tt6524480 is not a TV show
tt5997830 is not a TV show
tt4956232 is not a TV show
tt4869556 is not a TV show
tt5709236 is not a TV show
tt2938496 is not a TV show
tt4000768 is not a TV show
tt4498966 is not a TV show
tt4895704 is not a TV show
tt6663788 is not a TV show
tt4780834 is not a TV show
tt4858280 is not a TV show
tt2742544 is not a TV show
tt3638604 is not a TV show
tt4211680 is not a TV show
tt3457342 is not a TV show
tt3630276 is not a TV show
tt2964334 is not a TV show
tt3448098 is not a TV show
tt2991316 is not a TV show
tt191181 is not a TV show
tt2628260 is not a TV show
tt2255372 is not a TV show
tt2542420 is not a TV show
tt2387222 is not a TV show
tt2592512 is not a TV show
tt2392261 is not a TV show
tt1976633 is not a TV show
tt598828 is not a TV show
tt2504614 is not a TV show
tt2285752 is not a TV show
tt3100510 is not a TV show
tt2435166 is not a TV show
tt2678152 is not a TV show
tt1319708 is not a TV show
tt1604225 is not a TV show
tt1648133 is not a TV show
tt1340768 is not a TV show
tt1479163 is not a TV show
tt1521783 is not a TV show
tt1326956 is not a TV show
tt1648194 is not a TV show
tt1461305 is not a TV show
tt1263772 is not a TV show
tt1340664 is not a TV show
tt420238 is not a TV show
tt1095573 is not a TV show
tt00293564 is not a TV show
tt1273816 is not a TV show
tt0492571 is not a TV show
tt0367462 is not a TV show
tt0339882 is not a TV show
tt0257001 is not a TV show
tt0286137 is not a TV show
tt0377683 is not a TV show
tt0170817 is not a TV show
tt0098675 is not a TV show
tt5739786 is not a TV show
tt0188484 is not a TV show
tt53285 is not a TV show
tt0028000 is not a TV show
tt0377995 is not a TV show
Total time: -1 day, 23:59:15.556675

In [36]:
print(len(tv_show_ids))
print(len(other_ids))

65
65

In [37]:
api_detective_work = pd.DataFrame(columns=['NOTHING'])
api_detective_work.head()

Empty DataFrame
Columns: [NOTHING]
Index: []

In [38]:
api_detective_work['tv_shows'] = tv_show_ids
api_detective_work['not_tv_shows'] = other_ids
api_detective_work

   NOTHING   tv_shows not_tv_shows
0      NaN  tt5598192    tt5861756
1      NaN  tt5833846    tt7341676
2      NaN  tt5675620    tt6524480
3      NaN  tt4270492    tt5997830
4      NaN  tt4644822    tt4956232
5      NaN  tt5022298    tt4869556
6      NaN  tt6220550    tt5709236
7      NaN  tt5580664    tt2938496
8      NaN  tt4108134    tt4000768
9      NaN  tt2431438    tt4498966
10     NaN  tt3749900    tt4895704
11     NaN  tt3566726    tt6663788
12     NaN  tt2294189    tt4780834
13     NaN  tt2309295    tt4858280
14     NaN  tt1856010    tt2742544
15     NaN  tt2520512    tt3638604
16     NaN  tt2407574    tt4211680
17     NaN  tt2234222    tt3457342
18     NaN  tt3066242    tt3630276
19     NaN  tt3061046    tt2964334
20     NaN  tt1864750    tt3448098
21     NaN  tt2306299    tt2991316
22     NaN  tt2275990     tt191181
23     NaN  tt2191671    tt2628260
24     NaN  tt2294076    tt2255372
25     NaN  tt2262308    tt2542420
26     NaN  tt2243973    tt2387222
27     NaN  tt1872328    tt2592512
28     NaN  tt1492030    tt2392261
29     NaN  tt1843678    tt1976633
..     ...        ...          ...
35     NaN  tt0493093    tt2678152
36     NaN  tt0491738    tt1319708
37     NaN  tt0423651    tt1604225
38     NaN  tt0413573    tt1648133
39     NaN  tt0756522    tt1340768
40     NaN  tt0417349    tt1479163
41     NaN  tt0318997    tt1521783
42     NaN  tt0348913    tt1326956
43     NaN  tt0259153    tt1648194
44     NaN  tt0185906    tt1461305
45     NaN  tt2321187    tt1263772
46     NaN  tt0142032    tt1340664
47     NaN  tt0182576     tt420238
48     NaN  tt0205214    tt1095573
49     NaN  tt0135659   tt00293564
50     NaN  tt0215364    tt1273816
51     NaN  tt0120756    tt0492571
52     NaN  tt0112040    tt0367462
53     NaN  tt0112130    tt0339882
54     NaN  tt0108941    tt0257001
55     NaN  tt0107099    tt0286137
56     NaN  tt0099864    tt0377683
57     NaN  tt0098897    tt0170817
58     NaN  tt0098032    tt0098675
59     NaN  tt0086739    tt5739786
60     NaN  tt0078509    tt0188484
61     NaN  tt0072500      tt53285
62     NaN    nothing    tt0028000
63     NaN    nothing    tt0377995
64     NaN    nothing      nothing

[65 rows x 3 columns]

In [39]:
api_detective_work.to_csv('my_data/api_detective_work.csv', index=False)